button {
  background: transparent;
  color: rgba(255,255,255,0.6);
  line-height: 1.5em;
  text-transform: uppercase;
  font-size: 2em;
  border: none;
  color: white;
  outline: none;
}

button.btn-light {
  color: white;
}

button.btn-dark {
  color: black;
}

button.active {
  &:before {
    content: "> ";
    color: $yellow;
    animation: blink 1s steps(3, start) infinite;
  }

  &:after {
    content: " <";
    color: $yellow;
    animation: blink 1s steps(3, start) infinite;
  }
}