/* global color variables */
$blue: #1F38EC;
$sky-blue: rgb(135, 206, 235);
$yellow: rgb(255, 215, 0);

/* global font variables */
  $kal-font-family: 'Press Start 2P', cursive;

$font-lg: 2em;
$font-xl: 3em;
$font-m: 1.5em;
$font-sm: 1em;
$font-xs: 0.5em;

$bg-game: rgb(135, 206, 235);