/* global color variables */
$blue: #1F38EC;
$sky-blue: rgb(135, 206, 235);
$yellow: rgb(255, 215, 0);

/* global font variables */
  $kal-font-family: 'Press Start 2P', cursive;

$font-lg: 2em;
$font-xl: 3em;
$font-m: 1.5em;
$font-sm: 1em;
$font-xs: 0.5em;

$bg-game: rgb(135, 206, 235);

$outline-width: 6px;
$shadow-width: 4px;

$button-background: #92CD41;
$sec-button-background: #76c442;
$shadow-color:  #4AA52E;

$alt-button-background: #F7D51D;
$alt-sec-button-background: #F2C409;
$alt-shadow-color:  #E59400;

$reset-button-background: #E76E55;
$reset-sec-button-background: #CE372B;
$reset-shadow-color:  #8C2022;