@import 'basics/_variables.scss';

.screen--start {
  background: $blue;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  h2 {
    animation: blink 0.5s steps(3, start) infinite;
    margin: 0 auto;
    width: 100%;
    float: right;
    color: white;
  }
  ul {
    margin: 0 auto;
    width: 100%;
    float: right;

    li {
      width: 100%;
      margin: 15px 0;
    }
  }
}
